@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primario: #333;
    --color-fondo: #f5f5f5;
    --color-blanco: #fff;
    --color-borde: #000000;
    --color-azul: #bbc2ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 9.5rem;
    width: 4rem;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--color-primario);
}

nav a:hover {
    color: var(--color-azul);
}

.main-container {
    display: grid;
    gap: 1.25rem;
    max-width: 87.5rem;
    margin: 0 auto;
    grid-auto-rows: 1fr;
    margin-top: 1.25rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blanco);
    border-radius: 0.625rem;
    padding: 1.25rem;
    border: 0.0625rem solid var(--color-borde);
}

.card h3 {
    margin: 0 0 0.5rem 0;
}

.card p {
    flex-grow: 1;
    margin: 0;
}

.card_label {
    background-color: var(--color-azul);
    padding: 0.5em;
    border-radius: 2rem;
    border: 0.0625rem solid var(--color-borde);
    text-align: center;
    margin-top: 1rem;
    width: fit-content;
}

.feedback {
    width: 18.75rem;
    font-size: 0.75rem;
    margin: 1.25rem auto 0;
    text-align: center;
}

.feedback-options {
    display: flex;
    border: 1px solid var(--color-borde);
    border-radius: 0.5rem;
    overflow: hidden;
}

.feedback-options span {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: flex 0.3s ease;
}

.feedback-options .bad {
    background-color: #fff3e0;
}

.feedback-options .good {
    background-color: #e0f7fa;
}

.feedback-options span:hover {
    flex: 3;
}

@media (max-width: 37.5em) {
    .main-container {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
    }
}

@media (min-width: 37.5625em) and (max-width: 56.25em) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 56.25em) {
    .main-container {
        grid-template-columns: repeat(4, 1fr);
    }
}